.img-container{
    padding: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-img{
    height: 50vh;
    border-radius: 50%;
    border: 1px solid gray;
}

.about-text{
    font-size: 20px;
    font-weight: 700;
}